.save-btn {
    background-color: blue;
    border-radius: 1rem;
    padding: 0.35rem;
    color: white;
    font-weight: 500;
    font-size: 0.7rem;
    width: 7rem;
}

.save-btn:hover {
    cursor: pointer;
}
