.main {
    width: 77%;
    margin: 0rem auto;
    padding: 0.4rem;
    border-radius: 1rem;
}

.about,
.social-links {
    width: 60%;
    margin: 0.4rem 0rem;
    display: inline-block;
}

.social-links {
    margin-bottom: 1.4rem;
}

@media (max-width: 630px) {
    .about,
    .social-links {
        width: 100%;
        height: 15rem;
    }
}

@media (min-width: 630px) {
    .about,
    .social-links,
    .main {
        width: 25rem;
        height: 15rem;
    }
}
