.main {
    width: 77%;
    margin: 0.07rem auto;
    padding: 0.7rem;
    border: 2px double blue;
}

.about,
.social-links {
    margin: 0.4rem 0rem;
    display: block;
}

@media (max-width: 630px) {
    .about,
    .social-links {
        width: 100%;
    }
}

@media (min-width: 630px) {
    .about,
    .social-links,
    .main {
        width: 25rem;
    }
}
