.main-content {
    width: 77%;
    margin: 0.14rem auto;
    padding: 0.7rem;
    /* border: 2px double blue; */
    min-height: 86vh;
    box-shadow: 1px 1px 1px 1px rgb(120, 135, 139);
    border-radius: 0.7rem;
}

.about,
.social-links {
    /* margin: 0.4rem 0rem; */
    display: block;
}

.abstract {
    height: 4.9rem;
    font-size: 0.6rem;
    margin: 0.28rem;
    width: 94%;
    border: 2px solid lightslategray;
    padding: 0.28rem;
    height: 10rem;
    border-radius: 0.4rem;
    background-color: whitesmoke;
}

.abstract:focus {
    outline: none;
}

.upload-btn {
    background-color: blue;
    border-radius: 1rem;
    padding: 0.35rem;
    color: white;
    font-weight: 500;
    font-size: 0.7rem;
    width: 6rem;
    margin: 0.14rem;
}

.upload-btn:hover {
    cursor: pointer;
}

@media (max-width: 630px) {
    .about,
    .social-links {
        width: 100%;
    }
}

@media (min-width: 630px) {
    .about,
    .social-links,
    .main-content {
        width: 25rem;
    }
}
