.main-blogs {
    width: fit-content;
    margin: 1rem 0.5rem;
    display: inline-block;
}

.about-blogs,
.thumbnail-blogs {
    margin: auto;
    border: 2px solid blue;
    float: left;
}

/* Inside thumbnail image */

.thumbnail-blogs {
    min-width: 260px;
    max-width: 325px;
    height: 12rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    border-style: none;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

/* Inside Blog Details */

.about-blogs {
    width: 350px;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.user-disp-block,
.content-disp-block {
    display: block;
    margin: auto;
    width: 100%;
}

.user-creds {
    font-size: 0.42rem;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

.user-name {
    font-size: 0.7rem;
    font-weight: 600;
}

.social-container {
    display: flex;
    justify-content: space-evenly;
    background-color: blue;
}

.logos {
    color: white;
}

.check-mate {
    display: flex;
    justify-content: space-between;
    padding: 0.14rem;
    border-top-right-radius: 0.8rem;
}

.about-user,
.avatar-blogs {
    display: inline-block;
}

.about-user {
    text-align: left;
}

.avatar-blogs {
    width: 56px;
    height: 56px;
    color: blue;
    border-radius: 2.8rem;
}

.content-disp-block {
    height: 6rem;
}

@media (max-width: 700px) {
    .about-blogs {
        width: 100%;
        border-radius: 1rem;
        border-top-left-radius: 0rem;
        border-top-right-radius: 0rem;
    }
    .check-mate {
        border-top-right-radius: 0rem;
    }
    .social-container {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
    }
    .content-disp-block {
        display: none;
        padding: 0px;
        margin: 0px;
    }
    .user-disp-block {
        height: 100%;
    }
    .thumbnail-blogs {
        width: 100%;
        height: 16rem;
        border-radius: 1rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }
    .thumbnail-image {
        border-bottom-left-radius: 0rem;
        border-top-right-radius: 1rem;
    }
    .main-blogs {
        max-width: 325px;
        min-width: 325px;
        height: 22.5rem;
    }
}
