.about {
    width: 60%;
    background-color: red;
    text-align: left;
}

.about-author,
.about-article {
    background-color: cyan;
    width: auto;
    height: 49%;
    margin: 0.1rem 0.1rem;
}

.profile,
.author {
    display: inline-block;
    font-size: 0.5rem;
}

.profile {
    width: 60%;
}

.authors {
    width: 35%;
}
