label {
    padding: 0px;
    margin: 0px;
}

.about-author,
.about-article {
    width: 98%;
    margin: 0.1rem 0.1rem;
    display: block;
    padding-top: 0.28rem;
    padding-bottom: 0.28rem;
}

.about-author {
    display: inline-block;
    border: 1px solid lightslategray;
}

.avatar,
.author-info {
    display: inline-block;
    font-size: 0.5rem;
    margin-left: 0.28rem;
    margin-right: 0.28rem;
}

.author-info {
    padding: 0.1rem;
}

.avatar {
    width: 98px;
    height: 98px;
    background-color: white;
    color: blue;
    border-radius: 2.8rem;
}

.author-info .input-creds {
    padding: 0.1rem;
    margin: 0.2rem;
    font-size: 0.7rem;
}

.title-container {
    display: block;
    width: 84%;
    margin: auto;
    padding: 0.1rem;
}

.thumbnail-container,
.abstract-container {
    margin: 0.49rem auto;
}

.thumbnail-container {
    width: 33%;
    min-width: 7rem;
    height: 7.2rem;
    border: 0.5px dotted red;
    border-radius: 0.5rem;
    /* color: rgb(183, 198, 212); */
    color: blue;
}

.abstract-container {
    min-width: 13rem;
    width: 100%;
}
