.container {
    display: flex;
    width: 96%;
    /* border: 0.5px solid black; */
    padding: 0.1rem;
    margin: 0.2rem auto;
}

.logos {
    width: 1.4rem;
    height: 1.4rem;
    padding: 0.2rem;
    color: lightslategray;
}

.links {
    width: 70%;
    padding: 0.2rem;
    margin: 0.2rem 0.2rem;
    font-size: 0.7rem;
    border: hidden;
    border-bottom: groove;
    color: lightslategray;
    font-style: italic;
}

.links:focus {
    outline: none;
    font-weight: bold;
    color: black;
}
