.blogs-cont {
    background-color: white;
    margin: auto;
    width: fit-content;
    height: 87vh;

    /* Paddings and Margin */
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.7rem;
    padding-bottom: 0.01rem;

    /* Overflow and Scrollbar */
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.blogs-cont::-webkit-scrollbar {
    display: none;
}

.search-bar,
.search {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.7rem;
    margin: 0.28rem 0.14rem;
    padding: 0.14rem;
}

.search-bar {
    width: 70%;
    display: inline;
    border: hidden;
    border-bottom: 2px solid lightslategrey;
    background-color: whitesmoke;
}

.search-bar:focus {
    outline: none;
}

.search {
    color: aliceblue;
    font-weight: 600;
    border-radius: 0.21rem;
    background-color: blue;
    padding-left: 0.28rem;
    padding-right: 0.28rem;
}

.search:hover {
    cursor: pointer;
}

.create-new {
    height: fit-content;
}

.blog-cont {
    height: 11rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-cont,
.create-new {
    width: 18rem;
    min-width: 375px;
    margin: auto;
    margin-bottom: 0.7rem;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0.7px 0.7px 0.7px 0.7px rgb(199, 203, 208);
    padding: 7px;
}
