.overlay-container {
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(49, 49, 49, 0.7);
    position: absolute;
}

.login-register-cont {
    display: flex;
    flex-direction: column;
    width: 49vw;
    min-width: 340px;
    height: 70vh;
    margin: auto;
    translate: 0% 21%;
    background-color: white;
    border-radius: 14px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.cancel {
    display: flex;
    flex: 14%;
    justify-content: right;
    color: black;
    position: sticky;
    top: 0px;
}

.x {
    cursor: pointer;
    display: right;
    margin-right: 14px;
    padding: 14px;
    font-size: 35px;
    font-weight: 500;
}

h4 {
    font-weight: 500;
}

.form {
    display: flex;
    flex-direction: column;
    flex: 80%;
    margin: auto;
    font-family: cursive;
}

.body {
    justify-content: center;
}

.body input,
.body textarea {
    min-width: 270px;
    display: block;
    width: 21vw;
    padding: 7px;
    margin: 7px auto;
    outline: none;
    border: none;
    border-bottom: 1.4px solid red;
    font-family: cursive;
    font-size: 21px;
}

.body textarea {
    min-width: 295px;
    width: 35vw;
    min-height: 21vh;
    height: fit-content;
    border: 1.4px solid black;
    border-radius: 14px;
}

.avatar {
    width: 100px;
    height: 100px;
    margin: 0px auto;
    border-radius: 2.8rem;
}

.container {
    display: flex;
    flex-direction: row;
}

.container .logos {
    padding-top: 5px;
    height: 56px;
}

.footer {
    padding: 14px;
    margin: 14px auto;
}

.footer button {
    width: 120px;
    font-family: cursive;
    font-size: 21px;
    border-radius: 7px;
    padding: 3px;
    margin: 14px;
    color: mintcream;
    background-color: royalblue;
}
