.App {
    text-align: center;
}

.admin-header,
.admin-footer {
    width: 100%;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    margin: auto;
}

.admin-header {
    font-size: 1rem;
    background-color: red;
}

.admin-footer {
    width: 100%;
    font-size: 0.4rem;
    background-color: rgb(29, 13, 62);
    position: fixed;
    bottom: 0px;
    color: white;
    font-weight: bold;
    margin: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
