.App {
    text-align: center;
}

.admin-header,
.admin-footer {
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: auto;
}

.admin-header {
    position: sticky;
    top: 0px;
    font-size: 0.6rem;
    border-bottom: groove;
    background-color: blue;
}

.admin-footer {
    width: 100%;
    font-size: 0.4rem;
    background-color: rgb(29, 13, 62);
    color: white;
    font-weight: bold;
    margin: auto;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
