.App {
    text-align: center;
    background-color: rgb(242, 254, 254);
    height: 100vh;
    width: 100vw;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}

.admin-header,
.admin-footer {
    width: 100%;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    margin: auto;
}

.admin-header {
    position: sticky;
    top: 0px;
    font-size: 0.6rem;
    border-bottom: groove;
    background-color: blue;
}

.admin-footer {
    width: 100%;
    font-size: 0.4rem;
    background-color: rgb(29, 13, 62);
    color: white;
    font-weight: bold;
    margin: auto;
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(73, 162, 191);
    color: white;
    border-radius: 7px;
    width: 21vw;
    text-indent: 21px;
    padding: 10px;
    letter-spacing: 1px;
    font: calibri;
    font-size: 21px;
    margin-top: 14px;
}

.close-notification {
    font-weight: bold;
    padding-right: 10px;
}

.close-notification:hover {
    cursor: pointer;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
